* {
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: #1d1b1b;
}

/* HEADER */

.header-container {
    /* border: 1px solid black; */
    padding: 10px 0;
    display: flex;
}
.header {
    /* border: 1px solid black; */
    margin: 0px 150px;
    display: flex;
    flex-wrap: wrap;

    font-size: 20px;
}
.logo {
    margin: 0px 500px 0px 0px;
    font-weight: bold;
}
.links {
    /* border: 1px solid black; */
    width: 1000px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}


/* WELCOME SECTION */

.welcome-container {
    /* border: 1px solid black; */
    display: flex;
    padding: 70px 0px;
}
.welcome {
    /* border: 1px solid black; */
    margin: 0px 150px;
    display: flex;
}
.welcome-text {
    /* border: 1px solid black; */
    margin-right: 40px;
}
.welcome-header {
    /* border: 1px solid black; */
    margin-bottom: 10px;
    font-size: 44px;
}
.welcome-p {
    margin-bottom: 50px;
    font-size: 20px;
}
.button {
    /* border: 1px solid black; */
    background-color: #fb5b58;
    font-size: 18px;
    display: inline;
    padding: 12px 20px;
}

.header-container,
.welcome-container {
    background-color: #f7e13b;
}

/* CHARACTERS */

.characters-header {
    /* border: 1px solid black; */
    text-align: center;
    font-size: 40px;
    margin: 10px;
}
.characters-container {
    /* border: 1px solid black; */
    padding: 50px 0px 40px 0px;
    
}
.characters {
    /* border: 1px solid black; */
    margin: 50px 150px;
    display: flex;
    justify-content: space-between;
}
.char-text {
    width:200px;
    margin: 5px 0px;
    text-align: center;
    font-size: 16px;
}

/* QUOTES SECTION  */

.quotes-container {
    border: 1px solid black;
    background-color: #fb5b68;

}
.quotes {
    /* border: 1px solid black; */
    margin: 40px 150px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
.quote {
    /* border: 1px solid black; */
    width: 450px;
    height: 150px;
    padding: 30px;
    background-color: #ffffff3b;
}
.quote > p {
    font-size: 20px;
    text-align: center;
}